@media (min-width: 0px) {
    .navBarUtil {
      display: none;
    }
  }
  @media (min-width: 320px) {
    .navBarUtil {
      display: none;
    }
  }
  @media (min-width: 500px) {
    /* img {
      height: 7.5rem;
    } */
    .navBarUtil {
      display: none;
    }
  }
  
  @media (min-width: 1024px) {
    .burger-container {
      display: none;
    }
    /* img {
      height: 7.5rem;
    } */
    .navBarUtil {
      display: flex;
    }
  }
  .user {
    width:  7%;
    margin-right: 2%;
    clip-path: circle();
    cursor: pointer;
  }
  .cart {
    height: 50px;
    /* margin-right: 4rem; */
    cursor: pointer;
  }
  
  .burger-menu {
    height: 60%;
    display: flex;
    margin-right: 4rem;
  }
  .hideCate{
    top: 5rem;
  }

  .body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.header-container{
  border-bottom: 1px solid #e0e0e0;
}