.information-line-label{
    font-size: medium;
    font-weight: 200;
}

.information-line{
    display: flex;
    flex-direction: column;
}

.datePicker{
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
}